body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}


nav {
    text-align: right;
    color: aliceblue;
}

a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 21px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Borda inferior das células */
}

th {
    background-color: darkgray; 
    color: black;
}

td.sinopse {
    white-space: normal;
    max-width: 300px;
    height: 50px;
}